.inputD {
  color: rgb(20, 116, 200);
}

:host {
  display: block;
  background-image: url('../../../assets/img/1.jpg');
  background-repeat: no-repeat;
  background-size: 100%;
  background-attachment: fixed;
}