<div class="container">
    <div>
        <h1>Login</h1>
        <hr>
        <form [formGroup]="loginForm" (ngSubmit) = "loginCredentials()">
            <!--Username-->
            <div class="form-group">
                <input type="text" placeholder="Enter UserName"
                formControlName = "userName"
                class ="form-control"/>
            </div>

            <!--validation Message-->
            <div *ngIf="isSubmitted && formControls.userName.errors">
                <div *ngIf="formControls.userName.errors.required">
                    User Name is Invalid or Required
                </div>
            </div>

            <br>


             <!--Password-->
             <div class="form-group">
                <input type="password" placeholder="Enter password"
                formControlName = "password"
                class ="form-control"/>
            </div>

            <div *ngIf="isSubmitted && formControls.password.errors">
                <div *ngIf="formControls.password.errors.required">
                    Password is Invalid or Required
                </div>
            </div>

            <br>


            <!--Submit Button-->
            <div>
                <button type="submit"
                class="btn btn-lg btn-primary form-control">
                Submit
                </button>
            </div>

            <div class="validation-error" *ngIf="error">
                {{error}}
            </div>
        </form>
    </div>
</div>
