<div class="container">

   
    <div class="header">
        <a [routerLink]="['/asset-master/add']" role="button" class="btn btn-outline-primary custom-margin">
            <span><i class="fa fa-user-plus fa-lg"></i></span><br>Add Asset</a>

    </div>
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>ID</th>
                <th>Asset Definition ID</th>
                <th>Asset Type Id</th>
                <th>Active</th>
                <th>Model</th>
                <th>Purchase Date</th>
                <th>Serial Number</th>
                <th>Vendor Id</th>
                <th>Warranty</th>
                <th>Warranty From Date</th>
                <th>Warranty To Date</th>
                <th>Year Of Manufacture</th>
            </tr>
        </thead>
        <tbody>
            

        </tbody>
    </table>
</div>
