<div class="jumbotron">
    <h1 class="display-4">
        WELCOME
    </h1>
    <p>
        Please Select Your Desired Option!!
    </p>
    <hr>
</div>

<div class="cardStyle">
    <div class="card text-white bg-primary mb-3 text-center">
        <div class="card-body">
            <a [routerLink]="['/purchase-order/add']">
                <h5 class="card-title ">Add A New Purchase Order!</h5>
            </a>
            <p class="card-text">Select this option to add a purchase order!</p>
        </div>
    </div>

    <div class="card text-white bg-primary mb-3 text-center">
        <div class="card-body">
            <a [routerLink]="['/purchase-order/list']">
                <h5 class="card-title">View All you Purchases!</h5>
            </a>
            <p class="card-text">Select this option to list all purchase orders!</p>
        </div>
    </div>

    <div class="card text-white bg-primary mb-3 text-center">
        <div class="card-body">
            <a [routerLink]="['/employees/add']">
                <h5 class="card-title">Pending For Approval!</h5>
            </a>
            <p class="card-text">Select this option to see what's pending!</p>
        </div>
    </div>
</div>